@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    color: green;
    background-color: black;
}
ul {
    position: absolute;
    list-style-type: none;
    margin: -10px auto auto 130px;
    padding: 0;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
div#crowley{
    position:absolute;
    margin: 30px auto auto 140px;
}
div#apresentacoes{
    position: absolute;
    margin: 100px auto auto 140px;
}
div#painel1{
    left: 1000px;
    text-align: left;
    position: absolute;
    margin: 30px auto auto auto;
}
div#painel2{
    position: absolute;
    margin: 190px auto auto 140px;
}










@media only screen and (max-width: 720px){
        body {
        font-family: 'Raleway', sans-serif;
        color: green;
        background-color: black;
    }
    ul {
        display: none;
        position: absolute;
        list-style-type: none;
        margin: -10px auto auto 25px;
        padding: 0;
        background-color: black;
    }

    li {
        float: left;
    }

    li a {
        font-size: 14;
        display: block;
        color: green;
        text-align: center;
        padding: 14px 5px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
    div#crowley{
        position:absolute;
        margin: 20px auto auto 10px;
    }
    div#apresentacoes{
        position: absolute;
        margin: 80px auto auto 10px;
    }
    div#painel1{
        left: auto;
        position: absolute;
        margin: 200px auto auto 10px;
    }
    div#painel2{
        position: absolute;
        margin: 900px auto auto 10px;
    }
}
